@import url('https://fonts.googleapis.com/css?family=Michroma&display=swap');

body{
    font-family: Michroma, serif;
    background: linear-gradient(90deg, #000099 0%, #000000 94%);
}

p{
    color:aquamarine;
}

.nav-link{
    color: aquamarine;
}
.navbar-nav .nav-link.active{
    color:rgb(139, 136, 128);
}
.navbar-brand img{
    width: 40px;
}
.navbar-toggler{
    background-color: grey;
}
.sidebar{
    color: aquamarine;
    background: linear-gradient(270deg, #000099 0%, #000000 94%);
}
.card{
    background: linear-gradient(270deg, #000099 0%, #000000 94%);
    color:aquamarine;
}   
.card a{
    text-decoration: none;
    color:aquamarine;
}  

.slide-text,
.footer-text{
    color:aquamarine;
    margin: auto auto;
}
.media-links{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer,
.btn-outline-primary{
    background: linear-gradient(270deg, #000099 0%, #000000 94%);

}

.call-anim{
    animation: call 2s ease 0s infinite normal forwards;
}
@keyframes call {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateY(45px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateY(24px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateY(12px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateY(6px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateY(4px);
	}

	25%,
	55%,
	75%,
	87% {
		animation-timing-function: ease-out;
		transform: translateY(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0px);
	}
}
@media(max-widtg: 755px){
    .carousel-indicators{
        display: none;
    }
}